#pane{
    -fx-background-image: url("background.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 956 640;
    -fx-background-position: center center;
}

#search {
    -fx-graphic: url("search.jpg");
}
#speak {
    -fx-graphic: url("speak.jpg");
}
#ev {
     -fx-graphic: url("ev.jpg");
}

